<h1>Login</h1>
<hr>
<div>
  <form [formGroup]= "loginForm" (ngSubmit)='login(loginForm.value)'>
    <div>
      <label for="userName">User Name:</label>      
      <input [formControl]="userName" name="userName" id="userName" type="text" class="form-control"
        placeholder="User Name..." required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input [formControl]="password" name="password" id="password" type="password" class="form-control"
        placeholder="Password..." required />
    </div>

    <button type="submit" [disabled]='loginForm.invalid' class="btn btn-primary">Login</button>

    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

  </form>
</div>